@model Blog.Models.FeedView

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Feed</h4>
<hr />
<div class="row">
    <div class="col-md-12 col-xs-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Feed.Url" class="control-label"></label>
                <input asp-for="Feed.Url" class="form-control" />
                <span asp-validation-for="Feed.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feed.Language" class="control-label"></label>
                <select asp-for="Feed.Language" class="form-control" asp-items="Html.GetEnumSelectList<Blog.Enums.Language>()"></select>
                <span asp-validation-for="Feed.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feed.Title" class="control-label"></label>
                <textarea asp-for="Feed.Title" class="form-control"></textarea>
                <span asp-validation-for="Feed.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feed.Excerpt" class="control-label"></label>
                <textarea asp-for="Feed.Excerpt" class="form-control"></textarea>
                <span asp-validation-for="Feed.Excerpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feed.Content" class="control-label"></label>
                <textarea asp-for="Feed.Content" class="form-control"></textarea>
                <span asp-validation-for="Feed.Content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Feed.Published" /> @Html.DisplayNameFor(model => model.Feed.Published)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Feed.PostedOn" class="control-label"></label>
                <input asp-for="Feed.PostedOn" class="form-control" />
                <span asp-validation-for="Feed.PostedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feed.Modified" class="control-label"></label>
                <input asp-for="Feed.Modified" class="form-control" />
                <span asp-validation-for="Feed.Modified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feed.UrlTileImage" class="control-label"></label>
                <input asp-for="Feed.UrlTileImage" class="form-control" />
                <span asp-validation-for="Feed.UrlTileImage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Feed.CommentStatus" /> @Html.DisplayNameFor(model => model.Feed.CommentStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Feed.MetaDescription" class="control-label"></label>
                <input asp-for="Feed.MetaDescription" class="form-control" />
                <span asp-validation-for="Feed.MetaDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Sources</label>
                <select name="Sources" class="form-control" multiple="multiple" asp-items="Model.SourcesView"></select>
                <span validation-for="Sources" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tags</label>
                <select name="Tags" class="form-control" multiple="multiple" asp-items="Model.TagsView"></select>
                <span validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Categories</label>
                <select name="Categories" class="form-control" multiple="multiple" asp-items="Model.CategoriesView"></select>
                <span validation-for="Categories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/trumbowyg/dist/trumbowyg.min.js"></script>
<script>
    $('#Feed_Content').trumbowyg({});
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
